################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ut.ContainerRemove/Debug
/utils/Debug
/ut.Timer/x64/Debug
/x64/Debug
